

{% if periods %}

<div class="row">
  <div class="col-6">
    <form action="" method="GET" class="form-inline">
      <label class="my-1 mr-2" for="id_periods">Период:</label>
      <select name="period" id="id_periods" class="form-control">
        <option value="none">------------</option>
        {% for start, end in periods %}
          {% with start|date:'Y-m-d' as start_date and end|date:'Y-m-d' as end_date %}
          <option {% if request.GET.period == start_date|add:'_'|add:end_date %}selected{% endif %} value="{{ start_date|add:'_'|add:end_date }}">{{ start }}-{{ end }}</option>
          {% endwith %}
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary" style="margin-left: 1em;">Выбрать</button>
    </form>
  </div>
  <div class="col-6" style="text-align: right;">
    <a class="btn btn-info js-print" style="margin-left: 30px" href="#!"><i class="fa fa-print"></i> Печать</a>
  </div>
</div>

<br />

{% endif %}