{% extends 'index.html' %}

{% block styles %}

<style>
.form-errors {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
</style>

{% endblock %}

{% block content %}

<div class="page-header">
  <h3>Редактировать:</h3>
</div>

<p><strong>* - обязательное поле</strong></p>

<hr>

<form action="" method="post" enctype="multipart/form-data">

  {% csrf_token %}
  {% include 'common/form.html' %}

  <br /><br />

  <input type="submit" class="btn btn-success" value="Сохранить" style="margin-top: 32px;">
  <a class="btn btn-primary" href="{{ next }}" style="margin-top: 32px;color:white;">Отмена</a>

</form>

{% endblock %}

{% block scripts %}

<script>

// school year

$('#id_nach_g').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});

$('#id_kon_g').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});

// plan

$('#id_n_ob').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});

$('#id_k_ob').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});

// student

$('#id_data_r').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});

// classbook note

$('#id_data_z').datepicker({
  format: 'yyyy-mm-dd',
  language: 'ru-ru',
});
$('#id_time_z').clockpicker({
  donetext: 'Выбрать'
});

</script>

{% endblock %}