{% extends 'index.html' %}

{% block content %}

{% url 'index' as back_url %}
{% url 'classbooknote_create' as create_url %}

{% include 'common/list_top.html' %}

<table class="table table-bordered">
  <thead>
    <tr>

      <th colspan="2">Дата и время занятия</th>
      <th>Предмет</th>
      <th>Тема</th>

      <th>Оценка</th>
      <th>Присутствие</th>

      <th>Учитель</th>
      <th>Ученик</th>
      <th>Класс</th>

      <th>Примечание</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

    {% url 'classbooknote_update' pk=object.pk as update_url %}
    {% url 'classbooknote_delete' pk=object.pk as delete_url %}
    {% with True as can_copy %}

    <tr>

      <td>{{ object.data_z }}</td>
      <td>{{ object.time_z }}</td>
      <td>{{ object.get_subject }}</td>
      <td>{{ object.program.tema }}</td>

      <td>{{ object.oc|default:"-" }}</td>
      <td>{{ object.get_pris_display }}</td>

      <td>{{ object.teacher.fio_uchit }}</td>
      <td>{{ object.student.fio_uch }}</td>
      <td>{{ object.student.klass.get_number }}</td>
      
      <td>{{ object.get_prim_display|default:"-" }}</td>
      <td>

        {% if update_url %}
        <a class="btn btn-warning" href="{{ update_url }}?next={{ request.path }}"
        data-toggle="tooltip" data-placement="bottom" title="Редактировать">
          <i class="fa fa-pencil"></i>
        </a>
        {% endif %}

        {% if can_copy %}
        <a class="btn btn-secondary" href="{{ create_url }}?next={{ request.path }}&makecopy_from={{ object.pk }}"
        data-toggle="tooltip" data-placement="bottom" title="Копировать">
          <i class="fa fa-copy"></i>
        </a>
        {% endif %}

        {% if delete_url %}
        <a class="btn btn-danger" href="{{ delete_url }}?next={{ request.path }}"
          data-toggle="tooltip" data-placement="bottom" title="Удалить">
          <i class="fa fa-trash"></i>
        </a>
        {% endif %}

      </td>
    </tr>

    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% include 'common/list_bottom.html' %}

{% endblock %}