{% extends 'index.html' %}

{% block content %}

{% url 'index' as back_url %}
{% url 'plan_create' as create_url %}

{% include 'common/list_top.html' %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Составитель</th>
      <th>Учебный год</th>
      <th>Класс</th>
      <th>Начало обучения</th>
      <th>Конец обучения</th>
      <th>Количество часов</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

    {% url 'plan_update' pk=object.pk as update_url %}
    {% url 'plan_delete' pk=object.pk as delete_url %}

    <tr>
      <td>{{ object.author.fio_uchit }}</td>
      <td>{{ object.schoolyear.display }}</td>
      <td>{{ object.schoolyear.klass.get_number }}</td>
      <td>{{ object.n_ob }}</td>
      <td>{{ object.k_ob }}</td>
      <td>{{ object.kol_ch }}</td>
      <td>

        {% if update_url %}
        <a class="btn btn-warning" href="{{ update_url }}?next={{ request.path }}"
        data-toggle="tooltip" data-placement="bottom" title="Редактировать">
          <i class="fa fa-pencil"></i>
        </a>
        {% endif %}

        {% if delete_url %}
        <a class="btn btn-danger" href="{{ delete_url }}?next={{ request.path }}"
          data-toggle="tooltip" data-placement="bottom" title="Удалить">
          <i class="fa fa-trash"></i>
        </a>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'common/list_bottom.html' %}

{% endblock %}