{% extends 'index.html' %}

{% block content %}

{% url 'index' as back_url %}
{% url 'student_create' as create_url %}

{% include 'common/list_top.html' %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ФИО ученика</th>
      <th>Дата рождения</th>
      <th>Класс</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

    {% url 'student_update' pk=object.pk as update_url %}
    {% url 'student_delete' pk=object.pk as delete_url %}

    <tr>
      <td>{{ object.fio_uch }}</td>
      <td>{{ object.data_r }}</td>
      <td>{{ object.klass.get_number }}</td>
      <td>

        {% if update_url %}
        <a class="btn btn-warning" href="{{ update_url }}?next={{ request.path }}"
        data-toggle="tooltip" data-placement="bottom" title="Редактировать">
          <i class="fa fa-pencil"></i>
        </a>
        {% endif %}

        {% if delete_url %}
        <a class="btn btn-danger" href="{{ delete_url }}?next={{ request.path }}"
          data-toggle="tooltip" data-placement="bottom" title="Удалить">
          <i class="fa fa-trash"></i>
        </a>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'common/list_bottom.html' %}

{% endblock %}